.matCard{
    width: 324px;
    border-block-end-color:rgb(132, 167, 135);
    //border-block-end-width:str-length($string: "")
   // background-color:rgb(185, 223, 188);
   background-color:rgb(248, 248, 220);
   //background-color:grey;
   -webkit-box-reflect: rgb(199, 88, 88);
   box-shadow: 0 0 12px 5px rgb(231, 152, 152);
}
.input-style{
    width: 100%;
}
.headertwo{
   // color: rgb(85, 85, 145);
   color:rgb(143, 134, 134);
   //color: rgb(10, 68, 70);
}
