
     
       <div style="margin: 20px" class="cardList" >
        <div *ngFor="let items of note" class="pin" >
          <mat-card class="popdownCard" >
            <div fxLayout = "column" fxLayoutAlign="start start">
                <!-- <div fxLayout="row" fxLayoutAlign="space-around center" > -->
      
              <div fxLayout = "row" fxLayoutAlign="space-between start" class = "title">
                <div  matInput type="text"(click)=" openDialog(items)" placeholder="Title" >{{items.title}}</div>
                <!-- <button mat-icon-button (click)="isPin(items)" fxlayoutAlign = "start end"> -->
                  <img src="../../../assets/download8.svg" matTooltip="pin" (click)="isPin(items)"  fxlayoutAlign = "start end">
                <!-- </button> -->
              </div>
      
      
              <div>
                <div matInput type="text" placeholder="Take a note..." > {{items.description}}</div>
              </div>

              <div *ngFor="let label of items.label" >
                  {{label.labelName}}
              </div>
      
              <div fxLayout="row" fxLayoutAlign="space-between end">
                <app-app-icon [noteData]="items"></app-app-icon>
                
                <button matTooltip="Close the note" style="border-width: 0px;background: white;margin-top: 10px;margin:auto">
      
                  <!-- <img src="https://img.icons8.com/color/24/000000/cancel.png"> -->
                </button>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
      

   

          