<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <div class = "main" fxLayout="column" fxLayoutAlign="center center" >
      <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <mat-card class = "matCard" >
        <mat-card-title class="matCardTitle" fxLayoutAlign="center center">
          <h2 class = "headertwo">FundooNotes</h2>
        </mat-card-title>
        <mat-card-subtitle class = "matCardSubTitle" fxLayoutAlign="center center">
          <h2>ResetPassword</h2>
        </mat-card-subtitle>
        
        <div class="example-container">
          <form [formGroup]="resetPasswordForm">
          
          <div>
            <mat-form-field appearance="outline" class="input-style">
              <mat-label>New Password</mat-label>
              <input type="password" matInput placeholder="Enter your New password" [type]="!hide ? 'password' : 'text'" formControlName="newpassword" [(ngModel)]="resetPassword.newpassword" required>
              <mat-icon matSuffix (click)="hide = !hide">{{!hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field appearance="outline" class="input-style">
              <mat-label>confirm Password</mat-label>
              <input type="password" matInput placeholder="Enter your New password" [type]="!hide ? 'password' : 'text'" formControlName="confirmPassword" [(ngModel)]="resetPassword.confirmPassword" required>
              <mat-icon matSuffix (click)="hide = !hide">{{!hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
          </div>
          <div class="buttonRegister">
            <button mat-raised-button color="primary" id="register" (click)="resetPassword()">Register</button><br>
            <button mat-raised-button color="primary" id="login" routerLink='/login'> Login </button>
          </div>
        
        </form>
      </div>
    </mat-card>
  </div>
  



 



