<div fxLayout="row" fxLayoutAlign="space-between start">
  <button mat-icon-button>
    <img src="../../../assets/download1.svg" matTooltip="Remind Me" mat-button style="height:20px;width:20px">
  </button>

  <button mat-icon-button>
    <img src="../../../assets/download2.svg" matTooltip="Collaborator" mat-button style=" height:20px;width:20px">
  </button>

  <button mat-icon-button>
    <img src="../../../assets/download3.svg" matTooltip="Change color" mat-button style=" height:20px;width:20px">
  </button>

  <button mat-icon-button>
    <img src="../../../assets/download5.svg" matTooltip="Add image" mat-button style=" height:20px;width:20px">
  </button>


  <button mat-icon-button  (click)="archive()">
    <img src="../../../assets/download6.svg" matTooltip="Archive" mat-button style="height:20px;width:20px">
  </button>

  <button mat-icon-button>
    <img src="../../../assets/download7.svg" matTooltip="More" mat-button [matMenuTriggerFor]="moreBtn"
      style="height:20px;widows:20px;">
  </button>


<!-- <div>
  <mat-chip-list #chipList>
    <mat-chip *ngFor=let items of labelOfNotes>
        {{items.labelName}}
        <mat-icon (click)="deleteLabelToNote(items)">cancel</mat-icon>
        </mat-chip>
  </mat-chip-list>
</div> -->


  

  <mat-menu #moreBtn="matMenu">
      <div fxLayout="column">
    <div>
      <button mat-button (click)="trash()">Delete Note</button>
         
          
      <button mat-button [matMenuTriggerFor]="label" (click)="onEvent($event)">Add Lebel</button>
       
      
      <button mat-button>Add Drawing</button>
      <button mat-button (click)="trash()">Restore</button>
      
    </div>
    </div>
    
  </mat-menu>






  <div>
      <mat-menu #label="matMenu">
          <div fxLayout="column">
            <div>Label Note</div>
            <div *ngFor="let items of allLabels">
             
              <input type="text" matInput value="{{items.labelName}}" [formControl]="labelName">
                <mat-checkbox (click)="addLabelToNote(items)">
                  
                    <div [style.fontSize.px]=12>
                       
                      {{items.labelName}}
                    </div>
                  </mat-checkbox> 

            </div>

          </div>

      </mat-menu>

  </div>




</div>