<div fxLayout="row" fxLayoutAlign="space-between start">
  <button mat-icon-button>
    <img src="../../../assets/download1.svg" matTooltip="Remind Me" mat-button  [matMenuTriggerFor]="reminder" style="height:20px;width:40px">
  </button>

  <button mat-icon-button (click)="openDialoglabelCollaboretor()">
    <img src="../../../assets/download2.svg" matTooltip="Collaborator" mat-button style=" height:20px;width:20px">
  </button>

  <button mat-icon-button>
    <img src="../../../assets/download3.svg" matTooltip="color" mat-button [matMenuTriggerFor]="color" style=" height:20px;width:20px">
  </button>

  <button mat-icon-button>
    <img src="../../../assets/download5.svg" matTooltip="Add image" mat-button style=" height:20px;width:20px">
  </button>


  <button mat-icon-button  (click)="archive()">
    <img src="../../../assets/download6.svg" matTooltip="Archive" mat-button style="height:20px;width:20px">
  </button>

  <button mat-icon-button>
    <img src="../../../assets/download7.svg" matTooltip="More" mat-button [matMenuTriggerFor]="moreBtn"
      style="height:20px;widows:20px;">
  </button>


<!-- <div>
  <mat-chip-list #chipList>
    <mat-chip *ngFor=let items of labelOfNotes>
        {{items.labelName}}
        <mat-icon (click)="deleteLabelToNote(items)">cancel</mat-icon>
        </mat-chip>
  </mat-chip-list>
</div> -->

<mat-menu #color="matMenu" [overlapTrigger]="false">
<div fxLayout="row" fxLayoutGap="10px"  style="margin-top: 3px" *ngFor="let items of arrayOfColors">
  <div *ngFor="let color of items">
    <button [ngStyle]="{'background-color':color.colorCode}" (click)="addColourToNote(color.colorName)"
    matTooltip="{{color.colorName}}" mat-mini-fab></button>
  
</div>
</div>
</mat-menu>



<!-- <mat-menu #reminder="matMenu" [overlapTrigger]="false" class="reminder">

<div fxLayout="row" fxLayoutGap="20px"  style="margin-top:200px" width="100px">
  <button ></button>
  </div>
  </mat-menu> -->


<div>
  <mat-menu #reminder="matMenu" >
      <div class="reminderMain" >
      <div class="reminderTittle">Reminder:
      </div>
      <button (click)='todayReminder()' class="reminderInside">Later Today
      <span style="margin-left: 57%">8:00</span>
      </button>

      <button (click)='tomorrowReminder()' class="reminderInside">Tomorrow
      <span style="margin-left: 60%">8:00</span>
      </button>

      <button (click)='nextWeek()' class="reminderInside">Weekly
      <span style="margin-left: 66%">8:00</span>
      </button> 

       <div >
      <div (click)='setPickTime()' class="reminderInside" >
      <mat-icon>access_time</mat-icon>
      <span> Pick A Date </span> 
      
      </div>
      <div >
      <mat-form-field class="reminderInside">
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" [formControl]="dateCalendar">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      </div>
      </div>
      
      </div>
      </mat-menu> 
<!-- 
 <mat-form-field>
  <input matInput [matDatepicker]="picker1" placeholder="Angular forms" [formControl]="date">
  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
  <mat-datepicker #picker1></mat-datepicker>
</mat-form-field>

<mat-form-field>
  <input matInput [matDatepicker]="picker2" placeholder="Angular forms (w/ deserialization)"
         [formControl]="serializedDate">
  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
  <mat-datepicker #picker2></mat-datepicker>
</mat-form-field>

<mat-form-field>
  <input matInput [matDatepicker]="picker3" placeholder="Value binding" [value]="date.value">
  <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
  <mat-datepicker #picker3></mat-datepicker>
</mat-form-field>
</div>  -->

 

  <mat-menu #moreBtn="matMenu">
      <div fxLayout="column">
    <div>
      <button mat-button (click)="trash()">Delete Note</button>
         
          
      <button mat-button [matMenuTriggerFor]="label" (click)="onEvent($event)">Add Lebel</button>
       
      
      <button mat-button>Add Drawing</button>
      <button mat-button (click)="trash()">Restore</button>
      
    </div>
    </div>
    
  </mat-menu>






  <div>
  <mat-menu #label="matMenu">
  <div fxLayout="column">
  <div>Label Note</div>
  <div *ngFor="let items of allLabels">
             
  <input type="text" matInput value="{{items.labelName}}" [formControl]="labelName">
  <mat-checkbox (click)="addLabelToNote(items)">
                  
  <div [style.fontSize.px]=12>
                       
    {{items.labelName}}
    </div>
   </mat-checkbox> 

   </div>

  </div>

  </mat-menu>

  </div>









</div>